div.css-12w0qpk.e1tzin5v2 { 
    /* background-color: #EEEEEE; */
    border: 1px solid #DCDCDC;
    padding : 20px 20px 20px 70px;
    /* padding: 5% 5% 5% 5%; */
    border-radius: 7px;
    color: rgb(41, 98, 255);
    
}

div.css-18e3th9 {
    padding-top: 0rem;
}

div.css-ocqkz7 {
    margin-bottom: 2rem;
}

div.css-1yycg8b   {
    margin-top: 100px;
}