/* Main Container */
div.css-18e3th9 {
    /* padding-left : 4rem;
    padding-right : 4rem; */
    padding-top: 1rem;
}

/* Metrics */
div.css-ocqkz7.e1tzin5v4 {
    color: rgb(65, 105, 225);
    
}


/* Dataframe historical_values */
div.css-1yycg8b   {
    /* margin-top: 90px; */
    margin-left : -45px;
}