/* Main Container */
div.block-container.css-18e3th9.egzxvld2 {
    padding-left : 1rem;
    padding-right : 0rem;
    padding-top: 1rem;
    /* padding-bottom:1rem; */
}

/* Metrics */
div.css-ocqkz7.e1tzin5v4 {
    color: rgb(65, 105, 225);
    
}


/* Dataframe historical_values */
div.css-1yycg8b   {
    /* margin-top: 90px; */
    /* margin-left : -45px; */
}